
/*
 * text styles
 */

img {margin: 0px; padding: 0px}
body {margin: 0px; padding: 0px; background-color: #062A4B; background-image: url(body-background.png); color: #111111; height="100%"; width="100%"}
a { color: #1A2C36; text-decoration: none; font-weight: bold; }
a:hover {
  color: #003B5A;
  text-decoration: none;
  text-shadow: #FFFFFF 0px 0px 6px;
}
<!-- .bar_text a {color: #FFFFFF;} -->

#subtext {
    font-size: 10pt;
    font-style: italic;
}

#nextlink {
    margin: 0px;
    padding-top: 1em;
    text-align: center;
    font-size: 10pt;
}

/*
 * the header
 */

#header {
  background-image: url(top-middle.png);
  width: 100%;
  height: 131px;
}

#headerL {
  position: absolute;
  left: 0px;
  height: 131px;
  width: 147px;
  z-index: 1;
}

#headerR {
  position: absolute;
  right: 0px;
  width: 430px;
  height: 131px;
  /*background-image: url(top-right.png);*/
}

/* title and tagline are part of the header diff */
#title {
  position: absolute;
  top: 63px;
  right: 0px;
  margin-top: -1em;
  margin-right: 5%;
  text-align: right;
  font-size: xx-large;
  font-weight: bold;
  text-shadow: #FFFFFF 0px 0px 5px;
  color: #151515;
  z-index: 5;
}

#tagline {
  position: absolute;
  top: 70px;
  right: 0px;
  margin-right: 5%;
  text-align: right;
  font-size: large;
  font-weight: bold;
  text-shadow: #FFFFFF 0px 0px 5px;
  color: #151515;
  z-index: 5;
}

/*
 * the nav bar
 */

#bar {
  width: 100%;
}

#barCenter {
  text-align: center;
  /*background-color: #F5F5F4;*/
  color: #B0B0B0;
  padding-top: 0.5ex;
  padding-bottom: 0.5ex;
  font-weight: bold;
  font-size: small;
}

#barCenter a.selected, #barCenter a.selected:hover {
  color: #B0B0B0;
  text-decoration: none;
  text-shadow: #ADC1DF 0px 0px 5px;
}


#barCenter li a:link, #barCenter li a:visited, #barCenter li a:active {
  color: #B0B0B0;
  text-decoration: none;
  text-shadow: none;
}

#barCenter li a:hover {
  color: #B0B0B0;
  text-decoration: none;
  text-shadow: #ADC1DF 0px 0px 6px;
}

#barCenter ul {
  margin: 0;
  padding: 0;
}

#barCenter li {
  display: inline;
}

#barCenter li:not(:first-child):before { /* Aren't css3 selectors great? */
  content: " \0387  "; /* unicode for · */
}

/*
 * the main box
 */

#box {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#boxT {
  width: 100%;
  height: 16px;
}

#boxTL {
  width: 16px;
  height: 16px;
  float: left;
  background-image: url(box-top-left.png);
}

#boxTR {
  width: 16px;
  height: 16px;
  float: right;
  background-image: url(box-top-right.png);
}

#boxTC {
  height: 16px;
  margin-left: 16px;
  margin-right: 16px;
  background-image: url(box-top-middle.png);
  -khtml-background-size: 100%;
}

#boxL {
  background-image: url(box-middle-left.png);
  background-repeat: repeat-y;
  -khtml-background-size: 16px 100%;
  background-position: left;
  padding-left: 16px;
}

#boxCenter {
  background-image: url(box-center.png);
  background-position: center;
  background-repeat: no-repeat;
  -khtml-background-size: 100%;
  text-align: left;
}

#boxR {
  background-image: url(box-middle-right.png);
  background-repeat: repeat-y;
  -khtml-background-size: 16px 100%;
  background-position: right;
  padding-right: 16px;
}

#boxB {
  width: 100%;
  height: 49px;
}

#boxBL {
  width: 16px;
  height: 16px;
  float: left;
  background-image: url(box-bottom-left.png);
}

#boxBR {
  width: 16px;
  height: 16px;
  float: right;
  background-image: url(box-bottom-right.png);
}

#boxBC {
  height: 16px;
  margin-left: 16px;
  margin-right: 16px;
  background-image: url(box-bottom-middle.png);
  -khtml-background-size: 100%;
  background-repeat: no-repeat;
}

/*
 * the footer
 */

/*
#footer {
  position: fixed;
  background-image: url(bottom-middle.png);
  width: 100%;
  height: 100px;
  z-index: -2;
  bottom:0;
}

#footerL {
  position: fixed;
  background-image: url(bottom-left.png);
  left: 0px;
  width: 155px;
  height: 100px;
  z-index: -2;
}

#footerR {
  position: fixed;
  background-image: url(bottom-right.png);
  right: 0px;
  width: 429px;
  height: 100px;
  z-index: -1;
}
*/

/* vim:set sw=2 et nocindent smartindent: */
